@charset "UTF-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Cousine:400,700');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif:400,700');
@import url('https://fonts.googleapis.com/css?family=Song+Myung');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

html, body {
  height: 100%;
}

.serif {
  font-family: 'Song Myung';
}

.sans {
  font-family: 'Roboto';
  font-weight: 400;
}

.bg-beige {
  background-color: white;
}

.features {
  font-size: 18px;
}

#home {
  background-color: #ffebc4;
}

#design {
  background-color: #fff4e0;
}

#recipe {
  background-color: #ffebc4;
}

#about {
  background-color: white;
}

.button {
  padding-top: 0.25%;
  padding-bottom: 0.25%;
  font-size: 14px;
}

#recipe-graph {
  display: none;
}

#graph {
  display: none;
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
}

li {
  padding-left: 2%;
}
