@charset "UTF-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Song+Myung');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

html, body {
  height: 100%;
}

.serif {
  font-family: 'Song Myung';
}

.sans {
  font-family: 'Roboto';
  font-weight: 400;
}

.bg-beige {
  background-color: white;
}

.features {
  font-size: 18px;
}

.header {
  font-size: 90px;
}

#design {
  /*background-color: #ffebc4;*/
}

#recipe {
  /*background-color: #ffebc4;*/
}

.button {
  padding-top: 0.25%;
  padding-bottom: 0.25%;
  font-size: 14px;
}

#graph {
  display: none;
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
}

#success {
  display: none;
}

#next {
  display: none;
}

.icon {
  width: 2.5%;
  bottom: 0;
}

li {
  padding-left: 2%;
}
