@charset "UTF-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Song+Myung');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

html, body {
  height: 100%;
}

.serif {
  font-family: 'Song Myung';
  color: black;
}

.sans {
  font-family: 'Roboto';
  font-weight: 400;
  color: black;
}

.header {
  font-size: 90px;
}

#home {
  background-image: url('assets/dough-5.jpg');
}

#design {
  padding-top: 5%;
  /*background-color: #fbfaf0;*/
}

#recipe {
  /*background-color: #ffebc4;*/
}

#success {
  /*background-color: #ffebc4;*/
}

.btn-style {
  font-family: 'Roboto';
  font-size: 15px ! important;
  border: none ! important;
}

.btn-alpha {
  font-family: 'Roboto';
  font-size: 15px ! important;
  background-color: rgb(255, 255, 255, 0.5) ! important;
  border: none ! important;
}
.btn-alpha:hover {
  background-color: rgb(255, 255, 255, 0.75) ! important;
  border: none ! important;
}

#graph {
  display: none;
}

#hide-btn {
  display: none;
}

#success {
  display: none;
}

#grow {
  display: none;
}

img {
  width: 50%;
}

.icon {
  width: 25px;
  bottom: 0;
}
